.root {
  display: inline-flex;
  border-radius: $sizeSmallest;
  background-color: $backgroundColorPrime;
  color: $accentColorPrime;
  width: $sizeLarge;
  height: $sizeLarge;
  line-height: $sizeNormal;
  font-size: $sizeSmall;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}

.inverse {
  background-color: $accentColorPrime;
  color: $backgroundColorPrime;
  border: 1px solid $accentColorPrime;
}

.tight {
  padding: 0.75rem;
}

.roomy {
  padding: 2rem;
}
