.ml1 {
  margin-left: 0.25rem;
}

.ml2 {
  margin-left: 0.5rem;
}

.mb5 {
  margin-bottom: 1.25rem;
}

.pa1 {
  padding: 0.25rem;
}

.pa2 {
  padding: 0.5rem;
}

.pb1 {
  padding-bottom: 0.25rem;
}

.pl1 {
  padding-left: 0.25rem;
}

.pr1 {
  padding-right: 0.25rem;
}
