.background__prime {
  background-color: $backgroundColorPrime;
}

.background__prime--light {
  background-color: $backgroundColorPrimeLight;
}

.background__prime--lighter {
  background-color: $backgroundColorPrimeLighter;
}

.background__prime--dark {
  background-color: $backgroundColorPrimeDark;
}

.background__prime--darker {
  background-color: $backgroundColorPrimeDarker;
}
