// Typography
$fontSansSerif: 'Montserrat', 'HelveticaNeue-Light', 'Helvetica Neue Light',
  'Helvetica Neue', Helvetica, sans-serif;
$fontSerif: 'Times New Roman', 'Times', serif;
$fontSizeBase: 125%;
$lineHeightBase: 1.5;

// Headings
$h1Size: $sizeLargest;
$h1Weight: 500;
$h1MarginTop: 0;
$h1MarginBottom: $sizeLargest;
$h2Size: $sizeLarger;
$h2Weight: 500;
$h2MarginTop: 0;
$h2MarginBottom: $sizeLarger;
$h3Size: $sizeLarge;
$h3Weight: 500;
$h3MarginTop: 0;
$h3MarginBottom: $sizeLarge;
$h4Size: $sizeNormal;
$h4Weight: 500;
$h4MarginTop: 0;
$h4MarginBottom: $sizeNormal;

// Paragraphs
$paragraphSize: $sizeNormal;
$paragraphWeight: 400;
$paragraphLineHeight: $lineHeightBase;
$paragraphMarginTop: 0;
$paragraphMarginBottom: $sizeNormal;

// Links
$linkSize: $sizeNormal;
$linkWeight: 400;
$linkColor: $linkColorPrime;
$linkColorHover: $linkColorLighter;

// Em
$emStyle: 'italic';

// Strong
$strongWeight: 700;

::selection {
  color: $accentColorPrime;
  background-color: $backgroundColorPrimeLighter;
}
