.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: $normalUnit;
  margin-bottom: $normalUnit;
  list-style: none;
}

.item {
  margin-bottom: $largeUnit;
}
