.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: $sizeNormal;
  padding: 0;
  list-style: none;
}

.item {
  margin-bottom: $sizeLarge;
}

.cite {
  color: $accentColorPrime;
}
