.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  margin-bottom: $sizeLarge;
}

.role {
  margin-top: 0;
  margin-bottom: $sizeSmallest;
}

.company {
  font-style: italic;
}

.startDate,
.endDate {
  font-size: $sizeSmall;
}
