body {
  background-color: #dce1e9;
  font-family: 'PT Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

h1,
h2,
h3,
h4 {
  &.ant-typography {
    color: #333;
  }
}

.ant-layout-footer {
  background-color: transparent;
}
