/** Breakpoints **/
$largeBreakpoint: 1024px;
$mediumBreakpoint: 768px;
$smallBreakpoint: 368px;

/** Units **/
$baseUnit: 16px;

$xxSmallUnit: 0.25rem;
$xSmallUnit: 0.5rem;
$smallUnit: 0.75rem;
$normalUnit: 1rem;
$mediumUnit: 1.25rem;
$largeUnit: 1.5rem;
$xLargeUnit: 1.75rem;
$xxLargeUnit: 2rem;
