body {
  background-color: $backgroundColor;
  font-family: 'PT Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  color: $typeColor;
}

::selection {
  color: #dce1e9;
  background-color: $typeColor;
}

a {
  color: #00008b;
  &:hover {
    color: #1f3a93;
  }
}

h1 {
  font-size: $xxLargeUnit;
}

h2 {
  font-size: $largeUnit;
}

h3 {
  font-size: $normalUnit;
}

h4 {
  font-size: $smallUnit;
}

h5 {
  font-size: $xSmallUnit;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}
