// Prime
$colorPrime: #232f3e;
$colorPrimeLight: lighten($colorPrime, 10%);
$colorPrimeLighter: lighten($colorPrime, 50%);
$colorPrimeDark: darken($colorPrime, 10%);
$colorPrimeDarker: darken($colorPrime, 30%);

// Background
$bgColorPrime: $colorPrime;
$bgColorPrimeLight: lighten($bgColorPrime, 10%);
$bgColorPrimeLighter: lighten($bgColorPrime, 30%);
$bgColorPrimeDark: darken($bgColorPrime, 10%);
$bgColorPrimeDarker: darken($bgColorPrime, 30%);

// Font
$fontColorPrime: $colorPrimeLighter;
$fontColorLight: lighten($fontColorPrime, 10%);
$fontColorLighter: lighten($fontColorPrime, 30%);
$fontColorDark: darken($fontColorPrime, 10%);
$fontColorDarker: darken($fontColorPrime, 30%);

// Accent
$accentColorPrime: #e9be62;
$accentColorLight: lighten($accentColorPrime, 10%);
$accentColorLighter: lighten($accentColorPrime, 10%);
$accentColorDark: darken($accentColorPrime, 10%);
$accentColorDarker: darken($accentColorPrime, 10%);

// Link
$linkColorPrime: $accentColorPrime;
$linkColorLight: lighten($linkColorPrime, 10%);
$linkColorLighter: lighten($linkColorPrime, 30%);
$linkColorDark: darken($linkColorPrime, 10%);
$linkColorDarker: darken($linkColorPrime, 30%);

// Typography
$fontSansSerif: 'Montserrat', 'HelveticaNeue-Light', 'Helvetica Neue Light',
  'Helvetica Neue', Helvetica, sans-serif;
$fontSerif: 'Times New Roman', 'Times', serif;
$fontSizeBase: 125%;
$lineHeightBase: 1.5;

// Utilities
$sizeSmallest: 0.25rem; // $sizeSmallest
$sizeSmaller: 0.5rem; // $sizeSmaller
$sizeSmall: 0.75rem; // $sizeSmall
$sizeNormal: 1rem; // $sizeNormal
$sizeLarge: 1.25rem; // $sizeLarge
$sizeLarger: 1.5rem; // $sizeLarger
$sizeLargest: 2rem; // $sizeLargest

// Breakpoints
$largeBreakpoint: 1024px;
$mediumBreakpoint: 768px;
$smallBreakpoint: 368px;
