.list {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: $sizeNormal;
  list-style: none;
  padding-left: 0;
}

.title {
  margin-top: 0;
  margin-bottom: $sizeSmaller;
  font-weight: 700;
}

.item {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: $sizeSmallest;
  .item-text {
    flex: 1;
    font-size: $sizeSmall;
  }
}
