.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: $normalUnit;
  list-style: none;
  padding-left: 0;
}

.title {
  margin-top: 0;
  margin-bottom: $xSmallUnit;
  font-weight: 700;
}

.item {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: $xxSmallUnit;
  .item-text {
    flex: 1;
    margin-left: $xxSmallUnit;
  }
}
