@import '../../../../src/styles/main.scss';

.root {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;

  .list-item {
    display: block;
    margin-bottom: $sizeSmall;
  }
}

.horizontal {
  flex-direction: row;
  flex-wrap: wrap;

  .list-item {
    display: flex;
    align-items: center;
    margin-right: $sizeSmall;
  }
}
