.root {
  margin: 0 auto;
  padding: 0 3rem;

  @media (min-width: $mediumBreakpoint) {
    padding: 0 8rem;
  }
  @media (min-width: $largeBreakpoint) {
    width: 36rem;
    padding: 0;
  }
  @media (min-width: $largerBreakpoint) {
    width: 42rem;
  }
  @media (min-width: $largestBreakpoint) {
    width: 54rem;
  }
}
