@import '../../../../src/styles/main.scss';

.h1 {
  font-size: $h1Size;
  font-weight: $h1Weight;
  line-height: $h1Size;
  margin-top: $h1MarginTop;
  margin-bottom: $h1MarginBottom;
}

.h2 {
  font-size: $h2Size;
  font-weight: $h2Weight;
  line-height: $h2Size;
  margin-top: $h2MarginTop;
  margin-bottom: $h2MarginBottom;
}

.h3 {
  font-size: $h3Size;
  font-weight: $h3Weight;
  line-height: $h3Size;
  margin-top: $h3MarginTop;
  margin-bottom: $h3MarginBottom;
}

.h4 {
  font-size: $h4Size;
  font-weight: $h4Weight;
  line-height: $h4Size;
  margin-top: $h4MarginTop;
  margin-bottom: $h4MarginBottom;
}
