.h1 {
  font-size: $h1Size;
  font-weight: $h1Weight;
}

.h2 {
  font-size: $h2Size;
  font-weight: $h2Weight;
}

.h3 {
  font-size: $h3Size;
  font-weight: $h3Weight;
}

.h4 {
  font-size: $h4Size;
  font-weight: $h4Weight;
}
