@import '../../../../src/styles/main.scss';

.root {
  column-count: 1;
  width: 100%;
}

@for $i from 1 through 12 {
  .col--#{$i} {
    columns: $i;
  }
  .col--medium--#{$i} {
    @media (min-width: $mediumBreakpoint) {
      columns: $i;
    }
  }
  .col--large--#{$i} {
    @media (min-width: $largeBreakpoint) {
      columns: $i;
    }
  }
}

.break-inside__auto {
  /** TODO: Fix the way we use break-inside. Should not use element selectors **/
  article,
  div,
  section {
    break-inside: auto;
  }
}

.break-inside__avoid {
  /** TODO: Fix the way we use break-inside. Should not use element selectors **/
  article,
  div,
  section {
    break-inside: avoid;
  }
}
